.answered-row{
  background-color: rgb(149, 240, 157);
}

.current-row{
  background-color: rgb(118, 173, 255);
}

.queued-row{
  background-color: rgb(255, 236, 131);
}

table{
  text-align: center;
}

.timeCell{
  text-align: left;
}

body{
  background-color: white;
}